/* variables */

:root {
  --bg-color: #141516;
  --main-color: #ced4e2;
  --color-blue: #004291;
  --color-pink: #ed1e78;
  --color-gray: #607d8b;
  --color-purple: #a701a6;
  --color-green: #01ad98;
  --color-yellow: #ffac04; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  touch-action: manipulation;
}

h1,
h2,
p {
  max-width: 420px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.set-limit {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.reset-hidden,
.settings-hidden {
  display: none;
}

.resetCounter,
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  opacity: 0.9;
}

.settings-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.set-count, .limits, .theme-btn {
  text-align: center;
  padding: 30px 0;
  width: 300px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.limits {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.limits-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.switch-toggle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
	border-radius: 25px;
	background-color: #989898;
}

.switch-toggle input {
	display: none;
}

.switch-toggle div {
	position: absolute;
	border-radius: 50%;
	background-color: #dfdfdf;
	transition: .3s ease;
}

.switch-toggle input:checked + div {
	left: 50%;
}


.switch-toggle.inner div {
	width: 28px;
	height: 28px;
	top: 1px;
	left: 1px;
}




.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  padding: 30px;
  width: 300px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.theme-btn button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

/* button colors */

.black-btn {
  background-color: var(--bg-color);
}

.white-btn {
  background-color: var(--main-color);
}

.blue-btn {
  background-color: var(--color-blue);
}
.pink-btn {
  background-color: var(--color-pink);
}
.gray-btn {
  background-color: var(--color-gray);
}
.purple-btn {
  background-color: var(--color-purple);
}
.green-btn {
  background-color: var(--color-green);
}
.yellow-btn {
  background-color: var(--color-yellow);
}

.close-btn {
  font-size: 25px;
}

.resetCounter-inner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.resetCounter-inner button {
  height: 40px;
  width: 100px;
  padding: 10px 10px !important;
  font-size: larger;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--main-color);
}

.approve-btn, .cancel-btn {
  cursor: pointer;
}



.main {
  display: none;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 4rem;
}

.opening {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.page-top {
  flex: 1;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 1;
}

.page-top i {
  cursor: pointer;
}

.page-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.counter {
  font-size: 300px;
}

.symbol {
  font-size: 30px;
  height: 70px;
  width: 70px;
  border: 0.5px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.restrictive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  letter-spacing: 3px;
}

.restrictive div:nth-child(1) {
  font-size: 50px;
}

.fadeInRight {
  position: relative;
  line-height: 2em;
  overflow: hidden;
  /* for demo purpose */
  width: 300px;
  margin: 0 auto;
}

.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: var(--bg-color);
  -moz-animation: showHide 3s ease-in alternate infinite;
  /* Firefox */
  -webkit-animation: showHide 3s ease-in alternate infinite;
  /* Safari and Chrome */
  -ms-animation: showHide 3s ease-in alternate infinite;
  /* IE10 */
  -o-animation: showHide 3s ease-in alternate infinite;
  /* Opera */
  animation: showHide 2s ease-in alternate infinite;
}

.fadeInDown {
  position: relative;
  animation: fadeInDown 1s;
  animation-fill-mode: forwards;
}

/* Media Queries */

@keyframes showHide {
  0% {
    width: 100%;
  }

  40% {
    width: 0%;
  }

  60% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeInDown {
  from {
    top: 0px;
  }

  to {
    top: 20px;
  }
}
